.board {
    width: 45%;
    margin: auto
}

.info {
    width: 400px;
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}

body {
    background-color: rgb(0,100,0);
}